<html>
<head>
<title></title>
<meta http-equiv="Content-Language" content="zh-CN">
<meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=gb2312">
</head>
<body>
     <div style="text-align:center;margin-left:auto; margin-right:auto;">$!{result}</div>
</body>
</html>